/* 12 not found */
.section-not-found{
	position: relative;
	img{
		width:100%;
	}
	.content{
		text-align: center;
		position: absolute;
		top:75%;
		left:50%;
		transform: translate(-50%, -50%);
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: #FFFFFF;
			margin-bottom: 25px;
		}
		.btn-not-found{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: #003F8A;
			width:167px;
			height: 45px;
			background: #fff;
			border-radius: 45px;
			&:hover{
				background: #003F8A;
				color: #fff;
				transition: 0.4s;
			}
		}
	}
}
/* 12 not found */
/* 7 ho tro */
.video-item{
	width: 100%;
	height: 245px;
	position: relative;
	iframe{
		width: 100%;
		height: 100%;
	}
	.content{
		position: absolute !important;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		.thumnail{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		p{
			position: absolute;
			bottom: 10px;
			left:10px;
			a{
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 135.69%;
				color: #FFFFFF;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.video-item{
	.content{
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: #00000060;
			top:0;
			left:0;
		}
		.play{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
		}
	}
}

.section-title-tr{
	font: normal bold 30px/35px Roboto;
    color: var(--primary-text-color);
}
.section-video-pp{
	padding-top: 50px;
	.section-title-tr{
		width: 100%;
		margin-bottom: 15px;
	}
}
.section-catalogue{
	margin-bottom: 45px;
	margin-top: 25px;
}
.catalogue-element{
	width: 100%;
	position: relative;
	img{
		width: 100%;
	}
	.text{
		position: absolute;
		text-align: center;
		top: 50%;
		left:100px;
		transform: translate(0, -50%);
		h2{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			color: #003F8A;
			text-transform: uppercase;
			margin-bottom: 20px;
			span{
				color: #008EFF;
			}
		}
		.btn-xt-tr{
			width: 170px;
			height: 50px;
			background: #008EFF;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 21px;
			line-height: 36px;
			color: #FFFFFF;
			background: #008EFF;
			border-radius: 5px;position: relative;
		}
	}
}

.btn-taixuong{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #343434;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translate(0, -50%);
	img{
		margin-left: 15px;
	}
}

.btn-tr-seeall{
	float: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #134B88;
	margin-top: 20px;
	img{
		margin-left: 15px;
	}
	&:hover{
		cursor: pointer;
		color: #134B88;
		padding-right:0;
		transition: 0.5s;
		img{
			margin-left: 15px;
		}
	}
}
.section-bh{
	padding-bottom: 60px;
	overflow: hidden;
}

.bh-element{
	width: 100%;
	position: relative;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, #003166 49.19%, rgba(255, 255, 255, 0) 84.92%);
	}
	img{
		max-width: 100%;
		float:right;
	}
	.text-bh{
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translate(0, -50%);
		width: 50%;
		h2{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;
			line-height: 35px;
			color: #FFFFFF;
			margin-bottom: 25px;
		}
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
			margin-bottom: 15px;
			span{
				font-family: Roboto;
				font-style: italic;
				font-weight: normal;
				font-size: 14px;
				line-height: 150.19%;
				color: #FFFFFF;
			}
		}
	}
	form{
		position: relative;
		input{
			background: #FFFFFF;
			border-radius: 5px;
			width: 475px;
		    height: 45px;
		    padding-left: 15px;
		    border: none;
		    &:focus{
		    	outline: 0;
		    	&::placeholder{
		    		opacity: 0;
		    	}
		    }
			&::placeholder{
				font-family: Roboto;
				font-style: italic;
				font-weight: normal;
				font-size: 14px;
				line-height: 150.19%;
				color: #9B9B9B;
			}
		}
		.btn-bh-tr{
			width: 111px;
			height: 47px;
			background: #008EFF;
			border-radius: 0px 5px 5px 0px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 32px;
			color: #FFFFFF;
			position: absolute;
			right:0;
			top: -1px;
			img{
				float:left;
				margin-top: 8px;
			}
		}
	}
}
.item_video{
	.img{
		height:245px;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: #00000050;
			top:0 ;
			left: 0;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.play_run{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			a{
				spa{
					img{
						max-width: 100%;
					}
				}
			}
		}
		p{
			position: absolute;
			bottom: 0px;
			left: 10px;
			transform: translate(0%, -50%);
			color: #fff;
			z-index: 1;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
.slider_video{
	position: relative;
	.owl-prev{
		position: absolute;
		top:50%;
		left: 0;
		transform: translate(0, -50%);
		img{
			background: #2B2B2B;
    		padding: 25px 7px;
		}
		&:focus{
			outline: 0;
		}
	}
	.owl-next{
		position: absolute;
		top:50%;
		right: 0;
		transform: translate(0, -50%);
		img{
			background: #2B2B2B;
    		padding: 25px 7px;
		}
		&:focus{
			outline: 0;
		}
	}
}
@media screen and (max-width: 576px){
	.catalogue-element .text{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.catalogue-element .text h2 {
	    font-size: 20px;
	    line-height: 30px;
	    margin-bottom: 0;
	}
	.catalogue-element .text .btn-xt-tr {
	    width: 120px;
	    height: 40px;
	    font-size: 18px;
	    line-height: 28px;
	}
	.bh-element .text-bh{
		width: 100%;
		left: 15px;
		padding-right: 15px;
	}
	.bh-element>img{
		height: 400px;
		object-fit: cover;
	}
	.bh-element form input{
		width: 85%;
	}
	.bh-element form .btn-bh-tr{
		right: 15px;
	}
	.navbar-collapse{
		position: fixed;
		top: 57px;
		left: 0;
		width: 100%;
	}
	.section-video-pp, .section-download {
	    padding-top: 20px;
	    padding-left: 15px;
	    padding-right: 15px;
	    overflow: hidden;
	    padding-bottom: 20px !important;
	}
	.section-catalogue {
	    margin-bottom: 0px;
	    margin-top: 25px;
	}
	.btn-tr-seeall{
		margin-top: 0;
	}
}