@import url("custom-tr.css");
@import url("responsive-tr.css");
@font-face {
	font-family: Roboto;
	src: url(../webfonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: Bruno;
	src: url(../webfonts/bruno-ace-sc/Bruno-Ace-SC-Regular.ttf);
}

@font-face {
	font-family: Poppins;
	src: url(../webfonts/Poppins/Poppins-Regular.ttf);
}

:root {
	/* Font family */
	--primary-font-family: Roboto;
	--secondary-font-family: Bruno;
	/* Color */
	--primary-text-color: #343434;
	--primary-color: #003F8A;
	--secondary-color: #008EFF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font: normal normal 15px/18px Roboto;
	background-color: #fff;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main {
	background: #fff;
}

.main.bg-main {
	background: #E5E5E5;
}

[class^="icons-"],
[class*="icons-"] {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-size: 150px 150px !important;
}

.icons-search {
    font-size: 12px;
    background-position: -130px -4px;
    width: 16px;
    height: 17px;
	display: inline-block;
	position: relative;
}

.icons-arrow {
	font-size: 12px;
    background-position: -30px -3px;
    width: 27px;
    height: 18px;
    display: inline-block;
}

.icons-arrow-h {
	font-size: 12px;
    background-position: -62px -2px;
    width: 27px;
    height: 18px;
    display: inline-block;
}

.icons-phone-circle {
	font-size: 12px;
    background-position: -103px -80px;
    width: 42px;
    height: 42px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
}

.icons-messenger {
	background-position: -103px -31px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    position: fixed;
	right: 31px;
    bottom: 150px;
	z-index: 1000;
	animation: 1s messenger infinite;
}

@keyframes messenger {
	0% {
		box-shadow: 0 0 1px 1px #00A3FF;
		transform: rotate(15deg);
	}

	50% {
		box-shadow: 0 0 2px 3px #00A3FF;
		transform: rotate(0deg);
	}

	100% {
		box-shadow: 0 0 1px 1px #00A3FF;
		transform: rotate(15deg);
	}
}

.img-container {
	overflow: hidden;
}

.img-container img {
	max-width: 100%;
	height: auto;
}

.section-header {
	padding-top: 50px;
	padding-bottom: 25px;
}

.section-header .section-title {
	font: normal bold 30px/35px Roboto;
	color: var(--primary-text-color);
}

.section-body {
	position: relative;
}

.section-grid {
	display: grid;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, minmax(170px, 1fr));
}

.section-grid .section-grid-item {
	display: block;
	position: relative;
}

.section-grid .section-grid-tilte {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .5s all ease-in;
}

.page-title {
	display: inline-block;
	font: normal 700 42px/49px  Roboto;
	letter-spacing: 0,03em;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}

.page-title::before, .page-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 0;
    border: 1px solid #fff;
    transform: rotate(138deg);
}

.page-title::before {
    top: 5px;
    left: -25px;
}

.page-title::after {
	bottom: 8px;
    right: -25px;
}

.slide-area.bg-overlay {
	min-height: 320px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	position: relative;
}

.slide-area.bg-overlay::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 72, 180, 0.4);
}

.bg-overlay {
	background-size: auto 100%;
	background-repeat: no-repeat;
}

@media (min-width: 1200px) {
	.bg-overlay {
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}

.app-breadcrumb {
	font: normal 400 16px/19px Roboto;
	letter-spacing: 0em;
	text-align: left;
}

.app-breadcrumb .breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: unset;
}

.app-breadcrumb .breadcrumb-item,
.app-breadcrumb .breadcrumb-item a {
	position: relative;
	font: normal 400 16px/19px Roboto;
	letter-spacing: 0em;
	text-align: left;
	color: #5A5A5A;
}

.app-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	content: "›";
	font-size: 22px;
}

.intro-title {
	display: inline-block;
	font: normal 700 30px/35px Roboto;
	letter-spacing: 0em;
	text-align: left;
	color: var(--primary-text-color);
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 24px;
}

.intro-title::before {
	content: "";
	position: absolute;
	width: 20%;
	height: 0;
	border-top: 3px solid var(--secondary-color);
	bottom: 0;
	left: 0;
}

.video-about {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}
/* header */
.header {
	background-color: #fff;
	z-index: 100;
}

.owl-carousel {
	z-index: unset;
}

.app-nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

.app-nav .navbar-brand {
	display: inline-block;
	max-height: 30px;
	padding: 0;
}

.app-nav .navbar-nav .nav-link {
	position: relative;
	font: normal normal 15px/18px var(--primary-font-family);
	color: var(--primary-text-color) !important;
	text-transform: uppercase;
	padding: 6px 1.5rem;
}

.app-nav .navbar-nav .nav-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	/* width: calc(100% - 3rem); */
	width: 0;
	height: 0;
	border-top: 2px solid #0274ba;
	transition: .2s all ease-in;
}

.app-nav .navbar-nav .nav-link:hover::before {
	width: calc(100% - 3rem);
}

.app-nav .icons-search {
	margin-left: 1rem;
}

.app-nav .navbar-nav {
	align-items: center;
}

.app-nav .navbar-toggler {
	border: unset;
	border-radius: unset;
	outline: none;
}
/* end header */

.news .section-body {
	padding-bottom: 70px;
}

.news-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, minmax(257px, 1fr));
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

.news-container .single-news {
	text-decoration: none;
}

.news-container .single-news:nth-child(1) {
	grid-row: 1/3;
}

.news-container .single-news:nth-child(1) .news-content{
	height: 75%;
	background: linear-gradient(180deg, #F6F6F6 86.12%, rgba(246, 246, 246, 0) 100%);
}

.news-container .single-news:nth-child(2) {
	grid-row: 1/3;
	grid-column: 2/4;
}

.news-container .single-news:nth-child(2) .news-content{
	background: linear-gradient(180deg, rgba(3, 11, 21, 0.9) 0%, rgba(52, 52, 52, 0) 100%);
	color: #fff;
}

.news-container .single-news:nth-child(3) .news-content{
	background: rgba(15, 54, 100, 0.9);
	color: #fff;
}

.news-container .single-news:nth-child(4) .news-content{
	background: rgba(170, 170, 170, 0.8);
	color: #fff;
}



/* trang chu */
.solutions-carousel,
.home-carousel {
	position: relative;
}

.solutions-carousel .owl-nav,
.home-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-carousel .owl-nav button.owl-next,
.home-carousel .owl-nav button.owl-prev {
    outline: none;
    background: rgba(52, 52, 52, 0.5);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.solutions-carousel .owl-nav button.owl-next,
.solutions-carousel .owl-nav button.owl-prev {
    outline: none;
	background: rgba(52, 52, 52, 0.5);
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
}

.home-carousel .owl-nav button.owl-prev {
	left: 80px;
	padding: 8px 14px 5px 12px !important;
}

.home-carousel .owl-nav button.owl-next {
	right: 80px;
	padding: 8px 12px 5px 14px !important;
}

.home-carousel .owl-nav button.owl-next span,
.home-carousel .owl-nav button.owl-prev span {
    color: #fff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 50px;
}

.solutions-carousel .owl-nav button.owl-prev {
	left: 0;
	padding: 14px 6px 12px 4px !important;
}

.solutions-carousel .owl-nav button.owl-next {
	right: 0;
	padding: 14px 4px 12px 6px !important;
}

.solutions-carousel .owl-nav button.owl-next span,
.solutions-carousel .owl-nav button.owl-prev span {
    color: #fff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 32px;
}

.solutions-carousel .owl-nav button.owl-next:hover,
.solutions-carousel .owl-nav button.owl-next:focus,
.solutions-carousel .owl-nav button.owl-next:active,
.solutions-carousel .owl-nav button.owl-prev:hover,
.solutions-carousel .owl-nav button.owl-prev:focus,
.solutions-carousel .owl-nav button.owl-prev:active,
.home-carousel .owl-nav button.owl-next:hover,
.home-carousel .owl-nav button.owl-next:focus,
.home-carousel .owl-nav button.owl-next:active,
.home-carousel .owl-nav button.owl-prev:hover,
.home-carousel .owl-nav button.owl-prev:focus,
.home-carousel .owl-nav button.owl-prev:active {
    outline: none;
}

.home-carousel .item {
	overflow: hidden;
}

.home-carousel .item img {
	width: 100%;
	height: auto;
    object-position: 50% 50%;
    object-fit: cover;
}

.solutions-carousel .item h6 {
	text-align: center;
	font: normal normal 21px/25px var(--primary-font-family);
	color: var(--primary-text-color);
	margin-top: 1rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.home-carousel .owl-nav button.owl-prev {
		left: 30px;
	}
	
	.home-carousel .owl-nav button.owl-next {
		right: 30px;
	}
}

@media (max-width: 575.98px) {
	.home-carousel .owl-nav button.owl-prev {
		left: 0;
	}
	
	.home-carousel .owl-nav button.owl-next {
		right: 0;
	}
}

.newest-product {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
}

.newest-product:first-child {
	grid-row: 1/3;
	grid-column: 1/3;
}

.newest-product:last-child {
	grid-row: 2/4;
	grid-column: 3/5;
}

.newest-product .img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-bottom: 1rem;
}

.newest-product .img-container img{
	transition: .5s all ease-in;
}

.newest-product:hover .section-grid-tilte{
	background-color: #0A4A86;
	opacity: 1;
	visibility: visible;
}

.newest-product:hover img{
	transform: scale(1.2);
}

.newest-product .product-name {
	color: #fff;
}

.newest-product .icons-arrow {
	position: absolute;
	right: 1rem;
	bottom: 26px;
}

.home-banner {
	margin-top: 50px;
	position: relative;
}

.home-banner img{
	width: 100%;
}

.absolute-title {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.absolute-title h1{
	font: normal normal 28px/34px Bruno;
	letter-spacing: 0.05em;
	color: #fff;
}

.absolute-title h1{
	font: normal bold 28px/34px Bruno;
	letter-spacing: 0.05em;
	color: #fff;
}

.absolute-title h1 span{
	color: #00A3FF;
}

.absolute-title p {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font: normal normal 15px/22px Poppins;
	letter-spacing: 0.04em;
	color: #fff;
	margin-top: 5px;
	background-color: #00A3FF;
}

.absolute-title p .fa-star {
	font-size: 10px;
}

.news .section-grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, minmax(250px, 1fr));
}

.news .section-grid .section-grid-item:first-child{
	grid-row: 1/3;
}

.news .section-grid .section-grid-item:nth-child(2){
	grid-row: 1/3;
	grid-column: 2/4;
}

.news {
	background-color: #fff;
}

.single-news {
	display: block;
	position: relative;
	overflow: hidden;
	font: normal normal 16px/19px var(--primary-font-family);
	line-height: 19px;
	color: var(--primary-text-color);
	transition: .5s all ease-in;
}

.single-news:hover {
	background-size: 110% auto
}

.single-news .news-content {
	top: 0;
	left: 0;
	padding: 1rem;
	padding-top: 1.5rem;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.single-news img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.news .section-grid .section-grid-item:first-child .news-content {
	background: linear-gradient(180deg, #F6F6F6 60%, rgba(246, 246, 246, 0) 100%);
}

.news .section-grid .section-grid-item:nth-child(2) .news-content {
	background: linear-gradient(180deg, rgba(3, 11, 21, 0.9) 0%, rgba(52, 52, 52, 0) 100%);
}

.news .section-grid .section-grid-item:nth-child(3) .news-content {
	background: rgba(15, 54, 100, 0.9);
}

.news .section-grid .section-grid-item:nth-child(4) .news-content {
	background: rgba(170, 170, 170, 0.8);
}

.single-news {
	background-size: 100% auto;
	background-repeat: no-repeat;
    background-position: bottom center;
}

.single-news .news-content .published-date {
	display: block;
	margin-bottom: 30px;
	font: normal normal 16px/19px var(--primary-font-family);
}

.single-news .news-content .title {
	font: normal bold 21px/28px var(--primary-font-family);
}

.single-news .news-content .excerpt {
	font: normal normal 16px/150% var(--primary-font-family);
	margin-top: 20px;
}

.single-news .news-content .more {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #FFFFFF;
	border-radius: 5px;
	color: #003B7C;
	font: normal normal 16px/130% var(--primary-font-family);
	padding: .5rem 1rem;
}

.single-news:nth-child(1):hover .news-content {
	color: var(--primary-text-color);
}

.single-news:not(:nth-child(1)):hover .news-content .excerpt {
	color: #fff
}

.single-news:nth-child(3) .news-content .excerpt,
.single-news:nth-child(4) .news-content .excerpt {
	display: none;
}

.single-news:not(:nth-child(2)) .news-content .more {
	display: none;
}

.hotline {
	background-image: url(../img/b2.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.hotline .section-title{
	color: #fff;
}

.hotline::before {
	position: absolute;
	content: "";
	background-image: url(../img/b.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	bottom: -70px;
	right: 0;
	width: 414px;
	height: 259px;
}

.hotline .section-body .container {
	z-index: 10;
}

.hotline .hotline-area {
	background-image: url(../img/bbg.png);
	height: 352px;
	background-size: 100% 100%;
	margin-bottom: -70px;
	z-index: 3;
}

.hotline .hotline-area .d-flex {
	padding: 11px 0;
}

.hotline .hotline-area h4 {
	font: normal bold 21px/25px var(--primary-font-family);
	color: #fff;
}

.hotline .hotline-area .hotline-list {
	height: calc(100% - 97px);
	padding: 0 2rem 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.hotline .hotline-area .hotline-list .hotline-item{
	padding: 10px 0;
	border-bottom: 1px solid rgba(0, 59, 124, 0.1);
	font: normal normal 16px/19px var(--primary-font-family);
	color: var(--primary-text-color);
	width: 100%;
}

.hotline .hotline-area .hotline-list .hotline-item h6{
	font-weight: bold;
}

.hotline .hotline-area .hotline-list .hotline-item:last-child{
	padding: 10px 0;
	border-bottom: unset;
}

.partner {
	margin-top: 70px;
}

.partner-carousel .item {
	width: 100%;
	min-height: 159px;
	box-shadow: 0px 0px 0px 1px inset #ADD7EE;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.partner-carousel .item img {
	width: auto;
}

.partner-carousel .owl-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.partner-carousel .owl-nav button.owl-next,
.partner-carousel .owl-nav button.owl-prev {
	outline: none;
    background: #D2D2D2;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
}

.partner-carousel .owl-nav button.owl-prev {
	left: 0;
    padding: 14px 6px 12px 4px !important;
}

.partner-carousel .owl-nav button.owl-next {
	right: 0;
    padding: 14px 4px 12px 6px !important;
}

.partner-carousel .owl-nav button.owl-next span,
.partner-carousel .owl-nav button.owl-prev span {
	color: #fff;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 32px;
}

.solutions-carousel .owl-dots,
.partner-carousel .owl-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}

.partner-carousel .owl-dots {
	margin-bottom: 16px;
}

.solutions-carousel .owl-dots .owl-dot,
.partner-carousel .owl-dots .owl-dot {
	width: 9px;
	height: 9px;
	border: 1px solid #0A4A86;
	border-radius: 50%;
	box-sizing: border-box;
	margin: 0 7px;
}

.solutions-carousel .owl-dots .owl-dot.active,
.partner-carousel .owl-dots .owl-dot.active {
	background-color: #0A4A86;
}
/* end trang chu */

/* footer */
.footer {
	background-image:  url(../img/fbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font: normal normal 14px/17px var(--primary-font-family);
	color: #fff;
}

.footer .row {
	padding-top: 40px;
	padding-bottom: 25px;
}

.footer h2 {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 13px;
	font-weight: bold;
}

.footer p {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 11px;
}

.footer .d-flex h6 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: .5rem;
}

.footer .social i {
	font-size: 24px;
}

.footer form {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 999px;
	font: normal normal 14px/16px var(--primary-font-family);
	color: var(--primary-text-color);
	margin-top: 1.5rem;
}

.footer form input {
	outline: none;
	border: unset;
	width: calc(100% - 50px);
	margin-left: 12px;
}

.footer a i {
	font-size: 11px;
	margin-right: 16px;
}

.footer a {
	color: #fff;
	text-decoration: none;
	font: normal normal 14px/16px var(--primary-font-family);
	margin-bottom: 10px;
}

.footer form a[type="submit"] {
	width: 38px;
	height: 38px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 18px;
	border-radius: 50%;
	background-color: #008EFF;
	margin-right: 1px;
	margin-bottom: unset;
}

.footer form a[type="submit"] i {
	margin-right: unset;
	font-size: 18px;
}

.footer p.copyright {
	text-align: center;
	padding: 1rem 0 .75rem 0;
	margin-bottom: unset;
	border-top: 1px solid #898989;
	font-weight: normal;
}

.messenger {
	position: fixed;
	background-image: url(../img/image.png);
	background-repeat: no-repeat;
	background-position: -12px -14px;
	width: 36px;
	height: 36px;
	bottom: 100px;
	font-size: 36px;
	right: 31px;
	z-index: 1000;
}
/* end footer */

#scrollUp {
    background: #008EFF;
    height: 35px;
    width: 35px;
    right: 30px;
    bottom: 18px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
}

.app-nav .nav-item {
	position: relative;
}

.app-nav .nav-item .search-form {
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 1000;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0,0,0,.15);
}

.app-nav .nav-item .search-form div {
	border: 1px solid #0A4A86;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-nav .nav-item .search-form input{
	outline: 0;
	border: unset;
	background-color: #fff;
	padding: .5rem;
	min-width: 250px;
}

.app-nav .nav-item .search-form a{
	outline: 0;
	border: unset;
	background-color: #0A4A86;
	color: #fff;
	text-decoration: #fff;
	height: 34px;
	width: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1199.98px) {
	
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.section-grid {
		display: grid;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, minmax(170px, 1fr));
	}

	.section-grid .newest-product:nth-child(3) {
		grid-row: 2/3;
		grid-column: 3/4;
	}

	.section-grid .newest-product:nth-child(6) {
		grid-row: 3/5;
		grid-column: 2/4;
	}
}

@media (min-width: 786px) and (max-width: 991.98px) {
	.section-grid {
		display: grid;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, minmax(170px, 1fr));
	}

	.section-grid .newest-product:nth-child(3) {
		grid-row: 2/3;
		grid-column: 3/4;
	}

	.section-grid .newest-product:nth-child(6) {
		grid-row: 3/5;
		grid-column: 2/4;
	}

	.news-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, minmax(200px, 1fr));
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}

	.news-container .single-news:nth-child(3) {
		grid-column: 1/3;
	}
}

@media (min-width: 576px) and (max-width: 785.98px) {
	.section-grid {
		display: grid;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		grid-template-columns: 1fr;
	}

	.section-grid .newest-product{
		grid-column: 1/2;
	}

	.section-grid .newest-product:nth-child(6){
		grid-row: 4/5;
	}

	.news-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, minmax(200px, 1fr));
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}

	.news-container .single-news:nth-child(3) {
		grid-column: 1/3;
	}

	.hotline .hotline-area {
		margin-bottom: 25px;
	}
}

@media (max-width: 575.98px) {
	.section-grid {
		display: grid;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
		grid-template-columns: 1fr;
	}

	.section-grid .newest-product{
		grid-column: 1/2;
	}

	.section-grid .newest-product:nth-child(6){
		grid-row: 4/5;
	}

	.news-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	}

	.news-container .single-news {
		grid-column: 1/2;
	}

	.news-container .single-news:nth-child(1) {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.news-container .single-news:nth-child(2) {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.hotline .hotline-area {
		margin-bottom: 25px;
	}
}

/* trang gioi thieu */
.introduced {
	padding-bottom: 62px;
}

.video-about {
	position: relative;
	margin-top: 2rem;
}

.video-about a {
	position: relative;
	display: inline-block;
}

.video-about a::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    top: -26px;
    right: -26px;
}

.video-about a::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 90px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    bottom: -25px;
    left: -50px;
    z-index: 0;
}

.video-about a div {
	position: relative;
	z-index: 1;
}

.video-about a div::after {
	content: "";
    position: absolute;
    width: 34px;
    height: 24px;
    bottom: -38px;
    left: 68px;
    background: var(--secondary-color);
}

.video-about a div>img {
	z-index: 1;
	max-width: 100%;
}

.video-about a div span::before {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 52, 52, 0.3);
}

.video-about a div span::after {
	content: "";
    position: absolute;
    width: 41px;
    height: 30px;
    top: -41px;
    right: -45px;
    background: var(--primary-color);
}

.video-about a div span img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.introduced-content {
	font: normal 400 16px/19px Roboto;
	letter-spacing: 0em;
	text-align: justify;
}

.introduced-content p {
	margin-bottom: 10px;
}

.intro-img-container img {
	width: 100%;
	height: auto;
}

.bg-img img {
	width: 100%;
}

.sip-item {
	padding: 1.5rem;
    background-color: #fff;
	box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.12);
	margin-bottom: -50%;
    margin-top: 40%;
}

.sip-item:hover {
	background-color: var(--secondary-color);
}

.sip-item .img-container {
	margin-bottom: 35px;
	min-height: 145px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sip-item:hover .img-container img {
	-webkit-filter: invert(30%) brightness(3.5);
    filter: invert(30%) brightness(3.5);
}

.sip-item .sip-item-title {
    font: normal 700 30px/35px Roboto;
    letter-spacing: 0em;
    text-align: justify;
    margin-bottom: 1rem;
    position: relative;
}

.sip-item .sip-item-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -26px;
    height: 100%;
    width: 0;
    border-left: 5px solid var(--secondary-color);
}

.sip-item:hover .sip-item-title {
	color: #fff;
}

.sip-item:hover .sip-item-title::before {
	border-left: 5px solid #fff;
}

.sip-item .sip-item-contents {
    font: normal 400 16px/24px Roboto;
	letter-spacing: 0em;
	height: 120px;
    text-align: justify;
}

.sip-item:hover .sip-item-contents {
	color: #fff;
}

.section-info-page {
	margin-bottom: 250px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.section-info-page {
		margin-bottom: 200px;
	}
	.video-about a div>img {
		max-width: 90%;
	}

	.video-about a div span::before {
		width: 90%;
		height: 99%;
	}

	.video-about a::before {
		right: 0;
	}

	.video-about a div span::after {
		top: -41px;
		right: -18px;
	}

	.sip-item .sip-item-contents {
		height: 140px;
	}

	.sip-item {
		margin-bottom: -65%;
		margin-top: 35%;
	}
}

@media (max-width: 991.98px) {
	.introduced {
		overflow: hidden;
	}

	.video-about {
		justify-content: center;
	}

	.section-info-page {
		margin-bottom: 0;
	}

	.sip-item {
		margin-bottom: 1rem;
    	margin-top: 2rem
	}

	.partner {
		margin-top: 45px;
	}

	.sip-item .sip-item-contents {
		height: unset;
	}
}
/* end trang gioi thieu */

/* trang danh muc san pham */
.product-catalog-section {
	padding-bottom: 60px;
}

.product-catalog-section .ps-item {
	display: inline-block;
	width: 100%;
	height: 275px;
	overflow: hidden;
	background-color: #fff;
	text-decoration: none;
	margin-bottom: 20px;
}

.product-catalog-section .ps-item .img-container {
	height: calc(100% - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-catalog-section .ps-item .img-container img {
	object-fit: cover;
	object-position: 50% 50%;
	transition: .6s;
}

.product-catalog-section .ps-item:hover .img-container img {
	transform: scale(1.1);
}

.product-catalog-section .ps-item .d-flex {
	justify-content: space-between;
	align-items: center;
	padding: 8px 1rem;
	height: 50px;
	position: relative;
}

.product-catalog-section .ps-item .d-flex::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 0;
	transition: .6s;
}

.product-catalog-section .ps-item:hover .d-flex::before {
	background-color: var(--primary-color);
}

.product-catalog-section .ps-item .d-flex h6 {
	font: normal 400 21px/25px Roboto;
	letter-spacing: 0em;
	text-align: left;
	color: var(--primary-text-color);
	margin-right: 10px;
	z-index: 1;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.product-catalog-section .ps-item .d-flex i {
	text-align: left;
	font-size: 16px;
	color: #B5B5B5;
	z-index: 1;
} 

.product-catalog-section .ps-item:hover .d-flex h6,
.product-catalog-section .ps-item:hover .d-flex i {
	color: #fff
}
/* end trang danh muc san pham */

/* trang san pham */
.product-section {
	padding-bottom: 60px;
}

.product-section .ps-item {
	display: inline-block;
	border: 1px solid #F0F0F0;
	box-sizing: border-box;
	width: 100%;
	height: 285px;
	overflow: hidden;
	background-color: #fff;
	text-decoration: none;
	margin-bottom: 20px;
}

.product-section .ps-item .img-container {
	height: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-section .ps-item .img-container img {
	object-fit: cover;
	object-position: 50% 50%;
	transition: .6s;
}

.product-section .ps-item:hover .img-container img {
	transform: scale(1.1);
}

.product-section .ps-item .ps-body {
	padding: 8px 1rem;
	height: 100px;
	position: relative;
}

.product-section .ps-item .ps-body h6 {
	font: normal normal 21px/25px Roboto;
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 8px;
	z-index: 1;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.product-section .ps-item .ps-body p {
	font: normal normal 16px/21px Roboto;
	text-align: center;
	color: #5C5C5C;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.app-pagination .pagination .page-item{
	margin: 0 8px;
}

.app-pagination .pagination .page-item.active .page-link {
	background-color: var(--primary-color);
	color: #fff;
}

.app-pagination .pagination .page-item .page-link a {
	font: normal normal 16px/19px Roboto;
	color: var(--primary-color);
}

.app-pagination .pagination .page-item .page-link {
	width: 36px;
	height: 36px;
	border: unset;
	text-align: center;
	border-radius: 5000px;
	color: var(--primary-color);
	font: normal normal 16px/19px Roboto;
}

.app-pagination .pagination .page-item.disabled {
	display: none;
}

.app-pagination .pagination .page-item:first-child .page-link,
.app-pagination .pagination .page-item:last-child .page-link {
	border: 1px solid #CACACA;
	box-sizing: border-box;
}
/* end trang san pham */